	        <!-- page content -->
        
        <div class="right_col" role="main" ng-controller='calendar'>
          <div class="">
           

            <div class="clearfix"></div>

            <div class="row">
            

              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Mon calendrier </h2>
                
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

				    <div ng-controller="calendar as vm">
						  <h2 class="text-center" ng-cloak style="margin-bottom:-10px">{{ vm.calendarTitle }}</h2>
						  <div class="row" style="margin-bottom:-30px">
						   <div class="col-md-12 col-xs-12">
						    <div class="col-md-5 col-md-offset-1  col-xs-12 col-xs-offset-1 " style="margin-bottom:10px;margin-top:10px">
						      <div class="btn-group">
						        <button
						          class="btn btn-primary"
						          mwl-date-modifier
						          date="vm.viewDate"
						          decrement="vm.calendarView"
						          ng-click="vm.cellIsOpen = false">
						         Précédent
						        </button>
						        <button
						          class="btn btn-default"
						          mwl-date-modifier
						          date="vm.viewDate"
						          set-to-today
						          ng-click="vm.cellIsOpen = false">
						          Aujourd'hui
						        </button>
						        <button
						          class="btn btn-primary"
						          mwl-date-modifier
						          date="vm.viewDate"
						          increment="vm.calendarView"
						          ng-click="vm.cellIsOpen = false">
						          Suivant
						        </button>
						      </div>
						    </div>
						
						    <br class="visible-xs visible-sm">
						
						    <div class="col-md-5 col-md-offset-1 col-xs-12 col-xs-offset-1 " style="margin-top:10px">
						      <div class="btn-group">
						        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Année</label>
						        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mois</label>
						        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semaine</label>
						        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Jour</label>
						      </div>
						    </div>
						
						  </div>
						  
						   <div class="row" style="margin-bottom:30px;margin-top:30px" ng-if="rangeSelected" ng-cloack>
						  			 <div class="col-md-3 col-xs-12">
						   			 
						   			 </div>
						   			 <div class="col-md-9 col-xs-12 alert alert-info">
						   			 	Vous avez sélectionné la date à partir du {{vm.firstDateClicked | date:'yyyy-MM-dd HH:mm:ss'}}  au  {{vm.lastDateClicked | date:'yyyy-MM-dd HH:mm:ss'}}
						   			 </div>
						   			 
						   			 
						   </div>
						</div>
						
					  <div class="row" style="padding:30px">
						<div class="col-md-12">
						<style type="text/css">
						    .cal-day-hour-part-time strong.ng-hide {
						      display: block !important;
						    }
 						</style>
						  <mwl-calendar
						    events="vm.events"
						    view="vm.calendarView"
						    view-title="vm.calendarTitle"
						    day-view-event-width="1000"
						    view-date="vm.viewDate"
						    on-event-click="vm.eventClicked(calendarEvent)"
						    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
						    cell-is-open="vm.cellIsOpen"
						    cell-modifier="vm.modifyCell(calendarCell)"
						    on-timespan-click="vm.timespanClicked(calendarDate,calendarCell)"
						    on-date-range-select="vm.rangeSelected(calendarRangeStartDate, calendarRangeEndDate)"
						    cell-auto-open-disabled="true"
						    >
						  </mwl-calendar>
						  
						  </div>
					 </div>
						
						  
						  
								 
						
						
						  
						
						 
						</div>



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
       
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
       
        
       