<md-dialog aria-label="Nouvelle intervention" style="max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;">
  <form ng-cloak name="interventionForm" ng-submit="submitForm(interventionForm.$valid)" novalidate>
    <md-toolbar style="background-color: #2a3f54;">
      <div class="md-toolbar-tools">
        <h2>Nouvelle intervention</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/production/images/ic_close_24px.svg" aria-label="fermer"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <div class="form-group row" ng-if="error==true" ng-cloak>
				     	<label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
					     <div class="col-md-9 col-sm-9 col-xs-12 alert alert-danger">
	  						<strong>Erreur au formulaire !</strong> <br/>{{message.error}}
						 </div>
					 </div>
				     
				     <div class="form-group row" ng-if="success==true" ng-cloak>
				     	<label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
					     <div class="col-md-9 col-sm-9 col-xs-12 alert alert-success" ng-cloak>
	  						<strong>Success!</strong><br/> {{message.success}} 
						 </div>
					 </div>
					 
					 
					 <div class="form-group row" ng-show="informationError">		
		  			<label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
		  			<div class="col-md-9 col-sm-9 col-xs-12 alert alert-danger">
	  						<strong> Aucune demande trouvée avec le numero : {{support.numDemande}}</strong> <br/>
						 </div>
				</div>
					 
							
					  <div class="form-group row">
					  			<label class="control-label col-md-3 col-sm-3 col-xs-12">Type d'activité : </label>
		  						<div class="col-md-2 col-sm-2 col-xs-12" style="margin-top:7px;" >
			  						<label>Projet: </label>
			  						<input  type="radio" ng-model="typeActivite.type"  value="Projet" ng-change="initProjet()"/>
			  						<label style="margin-left: 10px;" >Support: </label>
								  	<input type="radio" ng-model="typeActivite.type" value="Support" ng-change="initSupport()"/>
							  	</div>
							  	<div class="input-group col-md-4 col-sm-4 col-xs-12"  ng-show="typeActivite.type=='Support'">
							  	<span class="input-group-addon" ng-click="loadInformationsSupport()">
			                               <span class="fa fa-search">
			                               	
			                               </span>
			                            </span>
							  		<input  type="text" class="form-control" ng-model="support.numDemande"  placeholder="N°de la demande" style="width: 97%;" ng-change="loadInformationsSupport()"  >
							  	</div>
		  				</div>
		  		
		  	
		  				
		  			<div class="form-group row" ng-show="informations">
						<label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
			  				<div class="panel-group col-md-9 col-sm-9 col-xs-12" id="accordion">
								  <div class="panel panel-default">
									    <div class="panel-heading">
									      <h4 class="panel-title">
									      <i class="fa fa-info"></i> 
									        <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style="margin-left: 10px;">
									          Informations support
									        </a>
									      </h4>
									       
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in">
									      <div class="panel-body">
									        <div class="row">
									           
													<label class="col-md-2 col-sm-3 col-xs-5">Objet: </label>
												
				  						             <input class="col-md-8 col-sm-8 col-xs-7"  type="text" ng-model="support1.objet"  readonly="readonly"/>
				  						        </div>
				  						        
				  						        <div class="row" style=" margin-top: 10px;">
									           
													<label class="col-md-2 col-sm-3 col-xs-5">Identifiant: </label>
												
				  						             <input class="col-md-8 col-sm-8 col-xs-7"  type="text" ng-model="support1.identifiant"  readonly="readonly"/>
				  						        </div>
				  						        
				  						        <div class="row"  style=" margin-top: 10px;">
									           
													<label class="col-md-2 col-sm-3 col-xs-5">Contrat: </label>
												
				  						             <input class="col-md-8 col-sm-8 col-xs-7"  type="text" ng-model="support1.contrat"   readonly="readonly"/>
				  						        </div>
				  						        
				  						        
				  						        <div class="row"  style=" margin-top: 10px;">
									           
													<label class="col-md-2 col-sm-3 col-xs-5">Date de la demande: </label>
												
				  						             <input class="col-md-8 col-sm-8 col-xs-7"  type="text" ng-model="support1.dateDemande | date:'dd/MM/yyyy HH:mm:ss'"  readonly="readonly"/>
				  						        </div>
									   
									    </div>
									  </div>
								  </div>
							</div>
					</div>
					 
					 
					 
					<div class="form-group row">
                    	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="myDatePicker">Date de début votre intervention <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12" >
	                        
	                			<div class="input-group date" id="myDatePicker">
		                            <input class="form-control md-input" time="false" date="true" mdc-datetime-picker="" type="text" id="date" placeholder="Date de début de l'intérvention"
										ng-model="dateDebut" format="DD/MM/YYYY" ok-text="valider" cancel-text="Annuler" ng-change="changeDebut()" required>
										<span class="input-group-addon" ng-click="displayDialogDateDebut()">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </span>
							    </div>
							    
	                    </div>
                    </div>
                    
                    <div class="form-group row">
                    	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="myTimePicker">Heure de début d'intervention <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12" >
                        	
		                     <div class="input-group date" id="myTimePicker">
	                           
								<span class="input-group-addon" ng-click="displayDialogHeureDebut()">
			                               <span class="fa fa-clock-o"></span>
			                            </span>
								<input type="time" id="exampleInput" name="input" ng-model="heureDebut" classe="form-control input-small" style="height: 35px;"
       								placeholder="Heure de début de votre intervention" ng-change="checkBoth()"  />
								
							</div>
								
							
                        </div>
	            
                    </div>
                    
                    <div class="form-group row">
                    	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="myDatePicker">Date de Fin d'intervention <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12" >
	                        
	                			<div class="input-group date" id="myDatePicker">
		                            <input class="form-control md-input" time="false" date="true" mdc-datetime-picker="" type="text" id="date" placeholder="Date de Fin de l'intérvention"
										ng-model="dateFinale" format="DD/MM/YYYY" min-date="minDate" ok-text="valider" cancel-text="Annuler" ng-change="changeFin()" required>
										<span class="input-group-addon" ng-click="displayDialogDateFin()">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </span>
							    </div>
							    
	                    </div>
                    </div>
                    
                     <div class="form-group row">
                    	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="myTimePicker1">Heure de fin de l'intervention <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
	                        
                           <div class="input-group date" id="myTimePicker1">
	                            <span class="input-group-addon" ng-click="displayDialogHeureFin()"> 
			                        <span class="fa fa-clock-o"></span>
			                    </span>
								<input type="time" id="exampleInput" name="input" ng-model="heureFin" classe="form-control input-small" style="height: 35px;"
       								placeholder="Heure de Fin de votre intervention" min="{{dateTimeStart}}"  ng-change="checkBoth()"  />
								
			               </div>
			               
			               <div  ng-if="selected">
			               		<p><strong ng-cloak style="    background: green;color: white;"> Durée = {{duree1}}</strong></p>  
			               </div>
			               
	                    </div>
                    </div>
                    
                  
                   
                    
                  
               
                      
                      
                      
                    <div class="form-group row">
                    
                  
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectClient">Client <span class="required">*</span></label>
	                    <div class="col-md-9 col-sm-9 col-xs-12">
		                   <!--  - <select  class="form-control" id="selectClient" ng-model="client" ng-options="item.id as item.client for item in clients" required>
		                            <option value="">Selectionner un client</option>
		                            
		                   </select>-->
		                   <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in query(searchText)" md-item-text="item.client" placeholder="Veuillez Saisir le client où selectionnez le client depuis la site" ng-cloak ng-cloak md-selected-item-change="updateProjets()" >
							  <md-item-template>
							    <span md-highlight-text="searchText" ng-cloak>{{item.client}}</span>
							  </md-item-template>
							  <md-not-found>
							    No matches found.
							  </md-not-found>
						  </md-autocomplete>
		                  
		                </div>
	                </div>
	                
	                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectClient">Nature de l'intervention <span class="required">*</span></label>
	                    <div class="col-md-9 col-sm-9 col-xs-12">
		                    <select  class="form-control" id="selectClient" ng-model="nature" ng-options="item.id as item.nature for item in natures" >
		                            <option value="">Selectionner la nature de l'intervention</option>
		                            
		                   </select>
		                  
		                </div>
	                </div>
	                
	                
	                <div class="form-group row" ng-show="typeActivite.type=='Projet'">
                    	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectProjet">Projet <span class="required">*</span></label>
	                    <div class="col-md-9 col-sm-9 col-xs-12">
		                    <select  class="form-control" id="selectProjet" ng-model="projet" ng-options="item.id as item.projet for item in projets">
		                            <option value="">Sélectionner un Projet</option>
		                   </select>
		                  
		                </div>
	                </div>
                    
                    

                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descProjet">Desc Projet /Comm.Action <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="descProjet" required class="form-control col-md-7 col-xs-12 " ng-model="descProjet"  placeholder="Description du projet où Commenter l'action" >
                        </div>
                      </div>
                      
                      
                      <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectLieu">Lieu de l'intervention <span class="required">*</span></label>
	                    <div class="col-md-9 col-sm-9 col-xs-12">
		                    <select  class="form-control" id="selectLieu"  ng-model="lieu" ng-options="item.id as item.lieu for item in lieux" >
		                            <option value="">Sélectionner le lieu</option>
		                           
		                   </select>
		                  
		                </div>
	                </div>
	                
	                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectVille">Ville d'intervention <span class="required">*</span></label>
	                    <div class="col-md-9 col-sm-9 col-xs-12">
		                    <select  class="form-control" id="selectVille" ng-model="ville" ng-options="item.id as item.ville for item in villes" >
		                            <option value="">Sélectionner une ville</option>
		                           
		                   </select>
		                  
		                </div>
	                </div>
	                
	                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selectStatut"> Statut de l'intérvention   <span class="required">*</span></label>
	                    <div class="col-md-9 col-sm-9 col-xs-12">
		                    <select  class="form-control" id="selectStatut" ng-model="type" ng-options="item.id as item.type for item in types" >
		                            <option value="">Sélectionner le statut de cette intérvention </option>
		                           
		                   </select>
		                  
		                </div>
	                </div>
                      
                      
                      
                     
                      
            
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="reset()">
        Vider
      </md-button>
      <md-button ng-click="answer('not useful')">
       Annuler
      </md-button>
       <md-button type="submit" style="background-color: blue;color: white;">
        Créer
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>