	        <!-- page content -->
        
        <div class="right_col" role="main" ng-controller="interventionGroupe" style="min-height: 750px;">
          <div class="">
            
            <div class="clearfix"></div>

            <div class="row"> 
	              <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2> Intervention du groupe </h2>
	                     <button type="button" class="btn btn-info pull-right"  ng-controller="switchController3" ng-show="chefGroupe"  ng-click="switche3()" style="margin-left: 200px;"> Calendrier du groupe  <i class="fa fa-reply" aria-hidden="true"></i> </button>
	                     <div class="clearfix"></div>
	                  </div>
	
	                  <div class="x_content">

						 <form>
						    <div class="form-group">
						      <div class="input-group">
						        <div class="input-group-addon"><i class="fa fa-search"></i></div>
						        <input type="text" class="form-control" placeholder="Filtre" ng-model="query3" ng-change="updateFilteredList()"/>
						      </div>      
						    </div>
						  </form>
	
	                    <div class="table-responsive">
	                    	<table class="table table-striped jambo_table bulk_action" ng-cloak  at-table at-paginated at-list="filteredList" at-config="config">
	                        <thead>
	                         
	                        </thead>
	
	                        <tbody>
	                                <tr class="even pointer">
	                        			<td class=" "  at-implicit at-title="Collaborateur" at-attribute="user.nom"></td>
	                        			<td class=" "  at-implicit  at-attribute="typeActivite" at-title="Type"></td>
				  						<td class=" "  at-implicit  at-attribute="dateDebut"  at-initial-sorting="desc"></td>
				  						<td class=" " at-implicit  at-attribute="dateFin"  ></td>
				  						<td class=" " at-implicit  at-attribute="heureDebut"></td>
				  						<td class=" " at-implicit  at-attribute="heureFin"></td>
				  						<td class=" " at-implicit  at-attribute="duree" at-title="Durée"></td>
				  						<td class=" " at-implicit  at-attribute="client.client" at-title="Client"></td>
				  						<td class=" "  at-implicit  at-attribute="nature.nature" at-title="Nature"></td>
				  						<td class=" "  at-implicit  at-attribute="projet.projet" at-title="Projet/Objet"></td>
				  						
				  						
				  						<td class=""  at-title="Statut"> <span ng-class='whatClassIsIt(item.type.type)'>{{item.type.type}}</span></td>
				  						<td class=""  at-title="Options">
				  							<button ng-click="updateEtat(item)" ng-if='whatClassIsIt(item.type.type) == "label label-info"' type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
					  						<button ng-confirm-click="Êtes-vous sûr de vouloir supprimer définitivement l'intervention de item.user.nom ?" confirmed-click="delete1(item)"  ng-if='whatClassIsIt(item.type.type) == "label label-info"' type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
				  						</td>
				  					</tr>
	                        </tbody>
	                      </table>  
	                      <at-pagination at-list="filteredList" at-config="config"></at-pagination>  

	                                 
	                    </div>
							
							
	                  </div>
	                </div>
	              </div>
	              
	            </div>
	            
	          </div>
	       </div>
	              
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
       
        
       