
	
        <!-- page content -->
        
        <div class="right_col" role="main" ng-controller="interventionController" style="min-height: 750px;">
          <div class="">
            

            <div class="row">
	              <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Mes interventions <small>Ici vous trouverez toutes vos interventions</small></h2>
	                    <ul class="nav navbar-right panel_toolbox">
	                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                      </li>
	                      
	                      <li><a class="close-link"><i class="fa fa-close"></i></a>
	                      </li>
	                    </ul>
	                    <div class="clearfix"></div>
	                  </div>
	
	                  <div class="x_content">
	                  
	                   	  
						  
						  <form>
						    <div class="form-group">
						      <div class="input-group">
						        <div class="input-group-addon"><i class="fa fa-search"></i></div>
						        <input type="text" class="form-control" placeholder="Filtre" ng-model="query2" ng-change="updateFilteredList()"/>
						      </div>      
						    </div>
						  </form>
	                  
	                  
	                  
	                    <div class="table-responsive">
	                      <table class="table table-striped jambo_table bulk_action" ng-cloak  at-table at-paginated at-list="filteredList" at-config="config">
	                        <thead>
	                         
	                        </thead>
	
	                        <tbody>
	                        <tr class="even pointer">
	                        			
				  						<td class=" "  at-implicit at-sortable at-attribute="dateDebut"  at-initial-sorting="desc"></td>
				  						<td class=" " at-implicit at-sortable at-attribute="dateFin"  ></td>
				  						<td class=" " at-implicit  at-attribute="heureDebut"></td>
				  						<td class=" " at-implicit  at-attribute="heureFin"></td>
				  						<td class=" " at-implicit  at-attribute="duree"></td>
				  						<td class=" " at-implicit  at-attribute="client.client" at-title="client"></td>
				  						<td class=" "  at-implicit  at-attribute="nature.nature" at-title="Nature"></td>
				  						<td class=" "  at-implicit  at-attribute="projet.projet" at-title="Projet"></td>
				  						<td class=" "  at-implicit  at-attribute="descProjet" at-title="DescProjet"></td>
				  						<td class=" " at-implicit  at-attribute="lieu.lieu" at-title="Lieu"></td>
				  						<td class=" " at-implicit  at-attribute="ville.ville" at-title="Ville"></td>
				  						
				  						<td class=""  at-title="Statut"> <span ng-class='whatClassIsIt(item.type.type)'>{{item.type.type}}</span></td>
				  						<td class=""  at-title="Options">
				  							<button ng-click="updateEtat(item)" ng-if='whatClassIsIt(item.type.type) == "label label-info"' type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
					  						<button ng-confirm-click="Êtes-vous sûr de vouloir supprimer définitivement cette intervention ?" confirmed-click="delete1(item)"  ng-if='whatClassIsIt(item.type.type) == "label label-info"' type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
				  						</td>
				  					</tr>
	                        </tbody>
	                      </table>  
	                      <at-pagination at-list="filteredList" at-config="config"></at-pagination>  	
							            
	                    </div>
							
	                  </div>
	                </div>
	              </div>
	              
	            </div>
	            
	          </div>
	       </div>
	              
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
       
        
        <!-- /page content -->

   