
	
        <!-- page content -->
        
        <div class="right_col" role="main" ng-controller="projetsController" style="min-height: 750px;">
          <div class="">
            

            <div class="row">
	              <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_title">
	                    <h2>Projets</h2>
	                    
	                     <div class="clearfix"></div>
	                  </div>
	
	                  <div class="x_content">
	                  
	                  
	                    <div class="form-group row">
					  			<div class="col-md-4 col-sm-4 col-xs-12" style="margin-top:7px;" >
								  	<div class="input-group">
							        <div class="input-group-addon"><i class="fa fa-search"></i></div>
							        <input type="text" class="form-control" placeholder="Filtre" ng-model="query4" ng-change="updateFilteredList()"/>
							     	 </div> 
							     </div> 
		  						<div class="col-md-4 col-sm-4 col-xs-12" style="margin-top:7px;" >
			  						<label>Projets disponibles </label>
			  						<input  type="radio" ng-model="statut.type"  value="valider" ng-change="chargerValideProjets()"/>
			  						<label style="margin-left: 30px;" >Projets clôturés: </label>
								  	<input type="radio" ng-model="statut.type" value="cloturer" ng-change="chargerClotureProjets()"/>
							  	</div>
							  	
							  	
		  				</div>

						  
	                  
	                  
	                  
	                    <div class="table-responsive">
	                      <table class="table table-striped jambo_table bulk_action" ng-cloak  at-table at-paginated at-list="filteredList" at-config="config">
	                        <thead>
	                         
	                        </thead>
	
	                        <tbody>
	                        <tr class="even pointer">
	                        			
	                        			<td class=" "  at-implicit at-attribute="client.client" at-title="Client"></td>
	                        			<td class=" "  at-implicit at-attribute="projet" at-title="Projet"></td>
				  						<td class=""  at-title="Statut"> <span ng-class='whatClassIsIt2(item.statutProjet)' ng-show="whatClassIsIt2(item.statutProjet) == 'label label-success'" >Disponible</span> <span ng-class='whatClassIsIt2(item.statutProjet)' ng-show="whatClassIsIt2(item.statutProjet) == 'label label-danger' " >Cloturer</span></td>
				  						<td class=""  at-title="Options">
				  							
					  						<button ng-show="whatClassIsIt2(item.statutProjet) == 'label label-success'"  ng-confirm-click="Êtes-vous sûr de vouloir cloturer le projet :{{item.projet}} ?" confirmed-click="update1(item)" type="button" class="btn btn-danger btn-xs"> Cloturer    <span class="glyphicon glyphicon-ban-circle"></span></button>
					  						<button ng-show="whatClassIsIt2(item.statutProjet) == 'label label-danger'"  ng-confirm-click="Êtes-vous sûr de vouloir autoriser le projet :{{item.projet}} ?" confirmed-click="update2(item)" type="button" class="btn btn-success btn-xs"> Autoriser   <span class="glyphicon glyphicon-ok-circle"></span></button>
				  						</td>
				  			 </tr>
	                        </tbody>
	                      </table>  
	                      <at-pagination at-list="filteredList" at-config="config"></at-pagination>  	
							            
	                    </div>
							
	                  </div>
	                </div>
	              </div>
	              
	            </div>
	            
	          </div>
	       </div>
	              
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
       
        
        <!-- /page content -->

   




	
        

   